extends ../shared/admin-layout.pug
block head

block content
  div(class="container") 
    br
    h4 Users
    br
    table
      tr
        th Username
        th Guests
        th Is Admin
        th

      each user in users
        tr
          td= user.username
          td= user.guests.length > 0 ? user.guests.map((guest) => guest.firstName + ' ' + guest.lastName).join(', ') : 'This user has no guests'
          td= user.isAdmin ? 'Yes' : 'No'
          td
            a(href="users/" + user.id + "/delete" class="btn-flat waves-effect btn-floating right small-margin-left")
              i(class="material-icons dark-text") delete
            a(href="users/" + user.id  class="btn-flat waves-effect btn-floating right small-margin-left")
              i(class="material-icons dark-text") edit

  a(href="users/add/" class="btn-floating btn-large waves-effect waves-light fab light-blue accent-3")
    i(class="material-icons white-text") add

