div(id="header-bar" class="z-depth-3")
  div(class="navigation")
    ul
      li(class=page === "overview" ? "selected" : "")
        a(href="/admin") Overview
      li(class=page === "users" ? "selected" : "")
        a(href="/admin/users") Users
      li(class=page === "gifts" ? "selected" : "")
        a(href="/admin/gifts") Gift Registry
      li
        a(href="/logout") Logout