head
  title M&P Wedding
  link(href='https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet')
  link(href='/css/site.css' rel='stylesheet')
  script(src='/js/header-bar.js')