head
  title M&P Wedding
  link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet")
  link(rel="stylesheet" href="/css/site.css")
  script(src="/js/header-bar.js")

  // Perfect scrollbar
  link(rel="stylesheet" href="/libs/perfect-scrollbar/css/perfect-scrollbar.css")
  script(src="/libs/perfect-scrollbar/dist/perfect-scrollbar.min.js")