head
	title S&P Wedding
	link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet")
	link(rel="stylesheet" href="/css/site.css")

	// Perfect scrollbar
	link(href="/libs/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet")
	script(src="/libs/perfect-scrollbar/dist/perfect-scrollbar.min.js")

	// Materialize CSS
	link(href="/libs/materialize-css/css/materialize.min.css" rel="stylesheet")
	script(src="/libs/materialize-css/js/materialize.min.js")

	// Google Material Icons
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")