head
	// Perfect scrollbar
	link(rel="stylesheet" href="/libs/perfect-scrollbar/css/perfect-scrollbar.css")
	script(src="/libs/perfect-scrollbar/dist/perfect-scrollbar.min.js")

	// Materialize CSS
	link(rel="stylesheet" href="/libs/materialize-css/css/materialize.min.css")
	script(src="/libs/materialize-css/js/materialize.min.js")
	
	title M&P Wedding
	link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet")
	link(rel="stylesheet" href="/css/site.css")
