{
  "web": {
    "port": "web_server_port"
  },
  "database": {
    "host": "database_host_name",
    "catalog": "database_name",
    "username" "database_username",
    "password": "database_password"
  }
}


/* Local */
{
  "web": {
    "port": "8080"
  },
  "database": {
    "host": "45.77.50.22",
    "catalog": "wedding",
    "username" "root",
    "password": "G7ZSVerqHwdMQ47B"
  }
}


/* Live */
{
  "web": {
    "port": "80"
  },
  "database": {
    "host": "localhost"",
    "catalog": "wedding",
    "username" "root",
    "password": "G7ZSVerqHwdMQ47B"
  }
}