extends shared/layout.pug
block head
  script(src="/js/info.js")

block content
  div(id="info-content" class="container") 
    div(class="section")
      br
      h4 Ceremony
      p. 
        The ceremony will be held at the Hope Community Church in Nelson.
        The ceremony will begin at around 2:30 PM, so please arrive at or just before that time.
      p. 
        This was info about dress code
      table(class="info")
        tr
          td(class="bold") Address:
          td Hope Community Church <br> Nelson
        tr
          td(class="bold") Time:
          td 1:00 PM
      br
      div(class="map-container center-align")
        div(id="ceremony-map" class="map")
      br
      br

      h4 Games & Hangout
      p.
        Info about games goes here
      p.
        More info about games/hangout
      table(class="info")
        tr
          td(class="bold") Address:
          td Games Address
        tr
          td(class="bold") Time:
          td 2:00 PM
      br
      br

      h4 Reception
      p.
        Info about reception goes here
      p.
        This was info about drinks
      table(class="info")
        tr
          td(class="bold") Address:
          td Reception address
        tr
          td(class="bold") Time:
          td 4:30 PM
      br
      br
        
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFJCRO-WHsSqOuHA0tTZO2x-LeQuk0_UM&callback=initMaps")