extends shared/layout.pug
block head
  script(src="/js/info.js")

block content
  div(id="info-content" class="container") 
    div(class="section")
      br
      h4 Location
      p. 
        The wedding will be at the Hope Community Church in Nelson.
      br
      div(class="map-container center-align")
        div(id="ceremony-map" class="map")
      br

      h4 Ceremony
      p(class="bold") Time: 1:00 PM
      p. 
        The ceremony will begin at 1 PM, so please arrive at or just before that time.
      p. 
        This was info about dress code
      br

      h4 Games & Hangout
      p(class="bold") Time: 2:00 PM
      p.
        Info about games goes here
      p.
        More info about games/hangout
      br

      if !user.isCeremonyOnly
        h4 Reception
        p(class="bold") Time: 4:30 PM
        p.
          Info about reception goes here
        p.
          This was info about drinks
        br
        
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFJCRO-WHsSqOuHA0tTZO2x-LeQuk0_UM&callback=initMaps")