extends shared/layout.pug
block head
  script(src="/js/info.js")

block content
  div(id="info-content" class="container") 
    div(class="section")
      br
      h4 Location
      p. 
        The wedding will be at Hope Community Church in Hope, Nelson.
      br
      div(class="map-container center-align")
        div(id="ceremony-map" class="map")
      br

      h4 Ceremony
      p(class="bold") Time: 2:00 PM
      p. 
        The ceremony will begin at 2 PM, so please arrive to be seated by that time.
      br

      h4 Games & Hangout
      p(class="bold") Time: 3:00 PM
      p.
        The social interlude is an opportunity to enjoy each other’s company after the ceremony over coffee, live music, various games and activities.
      br

      if !user.isCeremonyOnly
        h4 Reception
        p(class="bold") Time: 5:30 PM
        p.
          We’d be delighted for you to also attend the reception where we’ll enjoy a meal together, share some speeches and toasts, and dance into the night. Kids are welcome to participate. 
        br
        
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFJCRO-WHsSqOuHA0tTZO2x-LeQuk0_UM&callback=initMaps")