extends shared/layout.pug
block head
  script(src="/js/info.js")

block content
  div(id="info-content" class="container") 
    div(class="section")
      br
      h4 Ceremony
      p. 
        The ceremony will be held at the Hart Street Boardwalk, in Mount Manganui, by the corner of Marine Parade and Hart Street. 
        The ceremony will begin at around 2:30 PM, so please arrive at or just before that time.
      p. 
        The dress code is 'Beach Formal'. 
        This means you should wear what you would to a nice restaurant on a summer night.
        For example, a button down shirt with pants, or a formal summer dress.
      table(class="info")
        tr
          td(class="bold") Address:
          td Hart Street Boardwalk <br> Corner of Marine Parade and Hart Street <br> Mt Maunganui
        tr
          td(class="bold") Time:
          td 2:30 PM
      br
      div(class="map-container center-align")
        div(id="ceremony-map" class="map")
      br
      br

      h4 Reception
      p.
        The reception will be held at The Blue (formerly Bluebiyou), at the Papamoa Domain.
        Feel free to make you way to the reception at any point after the ceremony.
      p.
        Some wine will be provided for toasts, and there will be a cash bar at the venue for any further drinks.
      table(class="info")
        tr
          td(class="bold") Address:
          td The Blue (Bluebiyou) <br> 559 Papamoa Beach Road <br> Papamoa
        tr
          td(class="bold") Time:
          td 4:00 PM
      br
      div(class="map-container center-align")
        div(id="reception-map" class="map")
      br
      br
        
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFJCRO-WHsSqOuHA0tTZO2x-LeQuk0_UM&callback=initMaps")