html
	head
		include includes/head.pug
		script(src="/js/login.js")
	body
		div(id="login-content")
			div(class="beach-background center-align")
				h1 Megan & Peter
				br
				div(class="card")
					div(class="card-content left-align")
						span(class="card-title") Authentication
						p Enter the details from your wedding invitation
						br
						div(class="input-field")
							input(id="code" type="text")
							label(for="code") Code
						div(class="input-field")
							input(id="password" type="text")
							label(for="password") Password
						br
						div(class="right-align")
							a(class="waves-effect waves-light btn right-align light-blue accent-3") Login


