html
	head
		include includes/head.pug
		script(src="/js/login.js")
	body
		div(id="login-content")
			div(class="background center-align")
				h1 Petra & Sam
				br
				div(class="card")
					div(class="card-content left-align")
						span(class="card-title") Authentication
						p Enter the details from your wedding invitation
						p Username and password are case-sensitive
						br
						form(action="/login" method="post")
							div(class="input-field")
								input(id="username" name="username" type="text")
								label(for="username") Code
							div(class="input-field")
								input(id="password" name="password" type="password")
								label(for="password") Password
							input(id="redirect" name="redirect" type="hidden" value=redirect)
							br
							div(class="right-align")
								button(type="submit" class="waves-effect waves-light btn right-align light-blue accent-3") Login


