extends shared/layout.pug
block head
  script(src="/js/info.js")

block content
  div(class="container") 
    div(class="section")
      br
      h4 Our Story
      p. 
        On our first date we both nearly got a parking ticket for talking too long, sat in a café chatting, until we were surprised by the time. That was the first of many coffees as we stole away any chance to spend time together. Dates ranged from simple café conversations, to night stargazing, watching Harry Potter and sharing profundities. We dreamed of what our futures might hold, and slowly they started intertwining.
      p.
        Our story culminated on a day that began with a man serenading his girl with a homespun original and ended on the sands of Tahunanui beach at sunset, where he asked the all-important question. And she said yes!
      p.
        We’re excited to begin our story as husband and wife, and it’s an honour to have you along for the journey.
        
      div(class="full-width centre-text polaroids")
        img(src="/img/polaroids-1.png")
        img(src="/img/polaroids-2.png")
        img(src="/img/polaroids-3.png")
