extends shared/layout.pug
block head
  script(src="/js/info.js")

block content
  div(id="info-content" class="container") 
    div(class="section")
      br
      h4 Our Story
      p. 
        One thing both myself and Peter have learned from the story of our love is that we are both totally oblivious. The summer we started dating we had spent most of our spare time hanging out together, going for walks with Megan's family's dog (Ollie), going for walks, or watching movies. Despite this, and despite constant teasing from our mutual friends, we thought we were just friends and that was it. However after I brought Peter along to a work function as a 'friend', he finally realised that maybe we weren't just friends after all. A week after that, he asked me out, and the rest is history.
      div(class="full-width centre-text")
        img(src="/img/selfie.jpg" class="half-width")
      p. 
        After we started dating, we were even more inseperable. On any given day you could find the both of us sunning together on Papamoa beach. Once University started up the next year, Peter had to go back to Hamilton, to resume his studying. Despite the distance, we couldn't help but visit each other. Despite living one and a half hours apart, we didn't spend more than four days without seeing each other. After a few months, I managed to find work in Hamilton, as well as a flat, and so I moved over.
      div(class="full-width centre-text")
        img(src="/img/engagement.jpg" class="half-width")
      p. 
        Peter proposed to me at Papamoa beach, and I said yes (of course). I don't know what else to write! Any ideas beautiful fiancee? xoxo
      div(class="full-width centre-text")
        img(src="/img/ed.jpg" class="half-width")