extends shared/layout.pug
block head
  script(src="/js/info.js")

block content
  div(class="container") 
    div(class="section")
      br
      h4 Our Story
      p. 
        This is where your story would go. Can incorperate images. 
      div(class="full-width centre-text")
        img(src="/img/selfie.jpg" class="half-width")
