extends shared/layout.pug
block head
  script(src="/js/info.js")

block content
  div(id="info-content" class="container") 
    div(class="section")
      br
      h4 Our Story
      p. 
        One thing both myself and Peter have learned from the story of our love is that we are both totally oblivious. The summer we started dating we had spent most of our spare time hanging out together, going for walks with Megan's family's dog (Ollie), going for walks, or watching movies. Despite this, and despite constant teasing from our mutual friends, we thought we were just friends and that was it. However after I brought Peter along to a work function as a 'friend', he finally realised that maybe we weren't just friends after all. A week after that, he asked me out, and the rest is history.
      div(class="full-width centre-text")
        img(src="/img/selfie.jpg" class="half-width")
      p. 
        After we started dating, we were even more inseperable. On any given day you could find the both of us sunning together on Papamoa beach. Once University started up the next year, Peter had to go back to Hamilton, to resume his studying. Despite the distance, we couldn't help but visit each other. Despite living one and a half hours apart, we didn't spend more than four days without seeing each other. After a few months, I managed to find work in Hamilton, as well as a flat, and so I moved over.
      div(class="full-width centre-text")
        img(src="/img/engagement.jpg" class="half-width")
      p. 
        Peter proposed to me at Papamoa beach, and I said yes (of course). I don't know what else to write! Any ideas beautiful fiancee? xoxo
      div(class="full-width centre-text")
        img(src="/img/ed.jpg" class="half-width")



        Our story started offically one summer evening, after spending the day with some close friends of ours. Unofficially however, it started well before that. You see, we had been very close friends most of our teen years, and hung out a lot. Peter moved away to attend university and I stayed back in The Bay. Our time hanging out was limited to just the summers, in which we spent most of our time relaxing and swimming at Papamoa beach. We also liked to do other couply things together just the two of us, including walking the dog (Ollie). We were constantly teased by our mutal friends that we were basically dating. We were oblivious to all of this of course and just laughed it off. 
        Life happened and Peter had his daughter, Jamie. It was just after Jamie's first New Years, and we made the trip to Gisborne together (still not dating), where we spent the afternoon with Jamie at the beach. We also ate butter chicken together, in Peter's car, looking out over the beach and watching the sun set. Peter had told me later that this day was the day he had realized we were more then just friends, and that he was in love with Megan. About a week or so after that, after another the day at the beach, we watched a movie together, and ended up discussing what would happen if we did date, and what the implications would be if it didnt work as well as and i quote me "if we are doing this, we are both comitting fully" (not all that romatnic but thats life!). 
        after this we were even more inseprable and we were smitten, we started telling our families to which they all replied "finally!" to our disapointment. we spent the rest ofg the suimmer being a sickly adorable couple that goes to the beach every day (yes almost), and was basicly a nusance to anyone who wanted to spend some quailty time wioth us. 

        a few months in to dating peter returned to uni, and megan was trying to find a new job, there wasnt anything avalible in tauranga, so she started searching in hamilton, after a short week or so searching while visiting peter, she got a call asking her to start at an early childfhood centre the next week. so the dash was on to move her over to the tron. after a year of living in resecptive flats we moved in together.

        a year later peter proposed. on a beach straight after a swim, he sdtarted playing our song on the speaker and asked me to marry him.

        life continued on with peter staring fully time work and megan starting full time study (the good ol' switch-a-roo). and along with this came the planning of this upcoming wedding which has been two years in the making.


        Our story started offically one summer evening, after spending the day with some close friends of ours. Unofficially however, it started well before that. You see, we had been very close friends most of our teen years, and hung out a lot. Peter moved away to attend University in Hamilton, and I stayed back in The Bay. Our time hanging out was limited to just the summers, in which we spent most of our time relaxing and swimming at Papamoa beach. We also liked to do other couply things together just the two of us, including walking the dog (Ollie). We were constantly teased by our mutal friends that we were basically dating. We were oblivious to all of this of course and just laughed it off. 
        Life happened and Peter had his daughter, Jamie. It was just after Jamie's first New Years, and we made the trip to Gisborne together (still not dating), where we spent the afternoon with Jamie at the beach. We also ate butter chicken together in Peter's car, looking out over the beach and watching the sun set. Peter had told me later that this day was the day he had realized we were more then just friends, and that he was in love with Megan. About a week or so after that, after another the day at the beach, we watched a movie together, and ended up discussing what would happen if we did date, eventually deciding that we should give it a go!
        After this we were even more inseperable than ever, totally smitten. When we told our families, they replied "finally!", much to our disapointment. The rest of the summer was spent together, us being a sickly adorable couple, trying to figure out how we could avoid spending any time apart at all.

        After dating a few months, Peter had to return to University. Megan was trying to find a job in Early Childhood, but there wasnt anything avalible in Tauranga. Megan started to look for work in Hamilton, and after a few months, Megan managed to find both a job and a flat, and so she moved over.

        About a year after that, Peter proposed. On a beach straight after a swim, he started playing our song on Megan's bluetooth speaker, and asked me to marry him.