body {
  padding: 0;
  margin: 0;
}

body * {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.dark-text {
  color: rgba(0, 0, 0, 0.87) !important;
}

.light-text {
  color: white;
}

.centre-text {
  text-align: center;
}

a {
  color: unset;
  text-decoration: unset;
}

form {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 500;
}

.small-margin-left {
  margin-left: 6px;
}

.no-padding {
  padding: 0;s
}

.no-margin {
  margin: 0;s
}

.no-wrap {
  white-space: nowrap;
}

.btn-floating.fab {
  position: fixed;
  right: 36px;
  bottom: 36px;
}

/* Header Bar Css */
#header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #E5C215;
  color: white;
  transition: top 150ms ease-in-out;
  z-index: 10;
}

#header-bar .logo-bar {
  height: 108px;
  line-height: 108px;
  text-align: center;
}

#header-bar i {
  vertical-align: sub;
  font-size: 18px;
}

#header-bar .logo-bar h1 {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: white;
  line-height: inherit;
}

#header-bar .navigation {
  height: 48px;
  line-height: 48px;
}

#header-bar .navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#header-bar ul li {
  display: inline-block;
  padding: 0 12px;
  height: 48px;
  line-height: 48px;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 150ms ease-in-out;
}

#header-bar ul li a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
}

#header-bar ul li:hover a {
  color: white;
}

#header-bar ul li.selected {
  cursor: default;
  color: white;
  border-bottom: 2px solid #ffffff;
}

#header-bar ul li.selected a {
  color: white;
}

#content {
  position: fixed;
  top: 156px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: top 150ms ease-in-out;
  overflow: auto;
  background: #f0f0f0;
}

#content.admin {
  top: 48px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

#content .background {
  background-image: url('/img/bg.jpg');
  background-size: cover;
  background-position: center;
  
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

#content .background * {
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
}

#content .background .text {
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
}

#content .background .text h1 {
  font-family: 'Times New Roman', sans-serif;
  font-weight: 400;
  font-size: 6em;
  padding-bottom: 12px;
  line-height: inherit;
}

#content .background .text h2 {
  font-weight: 500;
  font-size: 1.8em;
  line-height: inherit;
}

#content .background .text h3 {
  font-weight: 400;
  font-size: 1.8em;
  line-height: inherit;
}

#content .background .countdown {
  position: absolute;
  bottom: 8%;
  left: 0;
  right: 0;
}

#content .background .countdown table {
  display: inline-block;
  width: unset;
}

#content .background .countdown td {
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  width: 3.8em;
}

#login-content .background {
  height: 100%;
  background: #E5C215;
}

#login-content .background .card {
  width: 20%;
  display: inline-block;
}

#login-content .background h1 {
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
  margin: 0;
  padding: 2.8% 0;
}

#login-content .background h1 {
  font-family: 'Times New Roman', sans-serif;
  font-weight: 400;
  font-size: 6em;
}

.map-container {
  width: 100%;
}

.map-container .map {
  width: 42em;
  height: 28em;
  display: inline-block;
}

#info-content table {
  width: unset;
  margin-left: 8px;
}

#info-content table tr {
  border-bottom: none;
}

#info-content table tr td {
  padding: 8px;
  vertical-align: text-top;
}

.material-tooltip .tooltip-content {
  color: white;
}


/* Input colors */
/* label focus color */
input[type=text]:focus + label {
  color: #00b0ff !important;
}

/* label underline focus color */
input[type=text]:focus {
  border-bottom: 1px solid #00b0ff !important;
  box-shadow: 0 1px 0 0 #00b0ff !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
     border: 2px solid #00b0ff !important;
     background-color: #00b0ff !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #00b0ff !important;
}

/* button colour */
.btn-floating[purchased] {
  background-color: #00b0ff !important;
}

.btn-floating:hover i {
  color: #ffffff !important;
}

.material-tooltip .tooltip-content {
  color: white;
}
/*
.card .card-content .fixed-height {
  height: 72px;
  overflow: auto;
}

.card .card-image img {
  height: 404.16px;
}
*/